.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
.FinalProject.R.swp
.FinalProject_LOCAL_839.R.swp
.FinalProject_BASE_839.R.swp
.FinalProject_REMOTE_839.R.swp
FinalProject_BACKUP_839.R
FinalProject_BASE_839.R
FinalProject_REMOTE_839.R
FinalProject_LOCAL_839.R
